<form novalidate class="md-layout" @submit.prevent="validateUser">
    <md-card-header>
        <div class="md-title">Regisztráció</div>
    </md-card-header>

    <div class="md-layout md-gutter">
        <div class="md-layout-item md-small-size-100">
            <md-field :class="getValidationClass('username')">
                <label for="username">Felhasználó név</label>
                <md-input
                    required
                    name="username"
                    id="username"
                    v-model="form.username"
                />
                <span v-if="!$v.form.username.required" class="md-error"
                    >Kötelező mező</span
                >
            </md-field>
            <md-field :class="getValidationClass('password')">
                <label for="password">Jelszó</label>
                <md-input
                    required
                    name="password"
                    id="password"
                    v-model="form.password"
                />
                <span v-if="!$v.form.password.required" class="md-error"
                    >Kötelező mező</span
                >
            </md-field>
            <md-field :class="getValidationClass('firmName')">
                <label for="firmName">Cég név</label>
                <md-input
                    required
                    name="firmName"
                    id="firmName"
                    v-model="form.firmName"
                />
                <span v-if="!$v.form.firmName.required" class="md-error"
                    >Kötelező mező</span
                >
            </md-field>
        </div>
    </div>
    <md-button type="submit" class="md-raised md-primary"
        >Regisztráció</md-button
    >
</form>
