<form novalidate class="md-layout" @submit.prevent="validateUser">
    <md-card-header>
        <div class="md-title">Regisztráció</div>
    </md-card-header>
    <div class="md-layout md-gutter">
        <div class="md-layout-item md-small-size-100">
            <md-field :class="getValidationClass('username')">
                <label for="username">Felhasználó név</label>
                <md-input
                    required
                    name="username"
                    id="username"
                    v-model="form.username"
                    v-validation="$v.form.username"
                />
            </md-field>
            <md-field :class="getValidationClass('password')">
                <label for="password">Jelszó</label>
                <md-input
                    required
                    name="password"
                    id="password"
                    v-model="form.password"
                    v-validation="$v.form.password"
                />
            </md-field>
            <md-field>
                <label for="fullName">Teljes név</label>
                <md-input
                    name="fullName"
                    id="fullName"
                    v-model="form.fullName"
                />
            </md-field>
        </div>
    </div>
    <md-button type="submit" class="md-raised md-primary"
        >{{getMemberRequesting?'Töltés': 'Regisztráció'}}</md-button
    >
</form>
