@import '~vue-material/dist/theme/engine'; // Import the theme engine

@import './variables.scss';
@include md-register-theme(
    'default',
    (
        primary: $primary,
        md-theme-default-primary: $primary,
        accent: #096816,
        theme: light // This can be dark or light,,,,,,,,,,,,,,,,,,
    )
);

@import '~vue-material/dist/theme/all';
